{% extends 'base.html' %}
{% block title %} OFERTAS {% endblock %}
{% block content %} 

    <div style="text-align: center;">
        <h1>Bienvenidos a la sección de Ofertas</h1>
        <p>Fecha de hoy: {{current_date|date:"d-m-Y"}}</p>
    </div>

    <div>
        <h3>Aquí puedes ver la lista de ofertas</h3>
        <!--<p>¿Hay oferta especial Hoy?: {{is_special_offert|yesno:'Si,No'}}</p>
    -->
        {% if error %}
            <div class="alert alert-danger">Hubo un error al cargar las ofertas: {{ error }}</div>
        {% endif %}

        <br>
        <br>
        

        {% if ofertas %}
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio Original</th>
                    <th>Descuento (%)</th>
                    <th>Precio con Descuento</th>
                    <th>Válido desde</th>
                    <th>Válido hasta</th>
                </tr>
            </thead>
            <tbody>
                {% for oferta in ofertas %}
                    <tr>
                        <td>{{ oferta.producto.nombre }}</td>
                        <td>${{ oferta.producto.precio }}</td>
                        <td>{{ oferta.porcentaje_descuento }}%</td>
                        <td>${{ oferta.precio_descuento }}</td>
                        <td>{{ oferta.fecha_inicio|date:"d/m/Y" }}</td>
                        <td>{{ oferta.fecha_fin|date:"d/m/Y" }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">No hay ofertas disponibles en este momento.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No hay ofertas actualmente</p>
                
        {% endif %}

    </div>
    <br>
    <br>

    <div>
        <h4>Aquí puedes navegar a las otras app o regresar al inicio</h4>
        
        <a href="{% url 'productos:index'  %}">Ir a Productos</a>
        <br>
        <a href="{% url 'index' %}">Ir a la pagina Principal</a>
    </div>


{% endblock %}